# Ignorar dependencias
**/node_modules/
**/node_modules

# Ignorar archivos de lock (para cada proyecto)
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Entornos
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode configs
.vscode/
